

.body-gradient {
    background: linear-gradient(282.93deg, #EAF4FD 0.67%, #FFFDF8 100%);
}
 
 .coachingApplication {
    padding-top: 30px;

    &-logo {
        display: none;

      @include md {
         display: block;
         max-width: 127px;
         width: 100%;
      }

        & svg {
            width: 100%;
        }
    }
 }

 .coaching-application {
    padding: 45px 0 40px;
 }
 
 .application{ 
    &-wrapper  {
        max-width: 702px;
        background-color: #FFFFFF;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 30px 25px 28px 15px;
        margin: auto;
    }

    &-head {
        background-color: #1E1B1E;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 40px;
        text-align: center;
        color: #FFFFFF;
    }

    &-title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 10px;
        letter-spacing: 0;
    }

    &-request img {
        width: 37px;
        height: 37px;
        margin-right: 10px;
        vertical-align: middle;
    }

    &-middle {
      max-width: 621px;
      margin: 0 16px 53px auto;
    }

    &-item {
        margin-bottom: 42px;

        &.mt {
         margin-bottom: 31px;

         @include sm {
            margin-bottom: 40px;
          }
        }

        @include sm {
        margin-bottom: 40px;
      }
    }

    &-question {
        font-size: 19px;
        margin-bottom: 14px;
        font-weight: 500;
    }

    &-radio-group, &-male, &-top {
        display: flex;
    }

    &-top {
      align-items: end;
        justify-content: space-between;

        @include sm {
         align-items: center;
      }
    }


   &-bottom {
     
      margin-top: 13px;
      @include md {
         margin-top: 30px;
      }
 
   }
   
   &-label {
      font-size: 18px;
      font-weight: 500;
   }
   
   &-input, &-textarea textarea {
      width: 100%;
      background-color: #FFFFFF;
      border: 1px solid #555555;
      border-radius: 8px;
      padding: 15px 40px 13px 19px;
      color: #959595;
      font-size: 16px;
      margin-top: 12px;
      font-family: inherit;
      margin-bottom: 15px;
   }

   &-textarea textarea {
      margin-top: 2px;
      @include md {
         margin-top: 5px;
         height: 175px;
      }
      &::placeholder {
         color: #959595;
      }

      &::-webkit-scrollbar {
         width: 4px;
         border-radius: 0 50px 50px 0;
         background-color: #a7a7a7;
     }
     
     &::-webkit-scrollbar-thumb {
      border-radius: 5px;
         background-color: #696969;
     }
   }
}
 

.coaching-application {
    & [type=radio]:checked, & [type=radio]:not(:checked) {
        position: absolute;
        left: -9999px;
        width: 0;
        height: 0;
        visibility: hidden;
        cursor: pointer;
     }
}

.radio {

    &-box {
        text-align: center;

        &:not(:last-child) {
            margin-right: 90px;
        }
    
        & label {
            cursor: pointer;
         }

         & span {
            font-size: 16px;
            color: #333333;
         }
    }

    &-icon {
        width: 42px;
        height: 42px;
        border: 1px solid #4e4e4e;
        border-radius: 100px;
        text-align: center;
        line-height: 50px;
        margin: 0 auto 5px;
        transition: all 0.5s ease;

        @include sm {
         margin: 0 auto 8px;
         }


        &:hover {
         border: 1px solid #dcc060;

         & svg g path, & svg path  {
            transition: all 0.5s ease;
            fill:#dcc060!important; 
         }
        }

        & svg {
         width: 21px;
         height: 21px;

         & path {
            fill:#4e4e4e!important;
         }
        }
     }
   
}

.someTips {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgb(0 0 0 / 70%);
   z-index: 333;
   box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.15);

   &__card {
      background: #FFFFFF;
      border-radius: 10px;
      max-width: 90%;
      width: 100%;
      padding: 20px 25px 30px 23px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 430px;

      @include xs {
         max-width: 335px;
      }

      @include md {
         padding: 37px 88px 25px 41px;
         max-width: 611px;
         height: 485px;
      }
   }

   &__close {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-left: auto;
      display: block;
      height: 35px;
      width: 35px;
      line-height: 40px;
      position: absolute;
      right: 11px;
      top: 10px;

      @include md {
         right: 15px;
         top: 18px;
      }

      & svg {
         width: 13px;
         height: 13px;
      }
   }

   &__title {
      font-family: 'Circular';
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 28px;
      color: #000000;

      @include md {
         font-size: 24px;
         margin-bottom: 19px;
      }
   }

   &.active {
      display: block;
   }
  
}

.someTipsItem {
   
   display: flex;

   &:not(:last-child) {
      margin-bottom: 27px;

      @include md {
         align-items: center;
         margin-bottom: 40px;
      }
   }

   &__icon svg{

      width: 24px;
      height: 35px;

      @include md {
         width: 32px;
         height: 32px;
      }

   }

   &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20.8px;
      margin-left: 11px;

      @include md {
         font-size: 16px;
         line-height: 26px;
         margin-left: 19px;
      }
   }
}
 
 .radio-box input:checked+label .radio-icon, .radio-male input:checked+label:before {
    border: 1px solid #DCC060;
 }
 
 .radio-box input:checked+label .radio-icon svg g path,.radio-box input:checked+label .radio-icon svg path  {
    fill: #DCC060!important;
 }
 

 .radio-male label {
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 10px 14px;
    color: #1E1B1E;
    display: block;
    transition: all 0.5s ease;
 }
 
 .radio-male input:checked+label {
    color: #DCC060;
 }
 
 .radio-male label:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border: 1px solid #555555;
    border-radius: 6px;
    z-index: -1;
    transition: all 0.5s ease;
 }
 
 .radio-male:not(:last-child) {
    margin-right: 13px;
 }

 .application {
   &-btn {
      font-family: 'Inter';
       background-color: #DDC160;
       box-shadow: 0px 12px 30px rgba(221, 193, 96, 0.12);
       border-radius: 44px;
       padding: 22px 0;
       font-weight: 700;
       font-size: 22px;
       line-height: 100%;
       text-align: center;
       letter-spacing: -0.02em;
       border: none;
       width: 100%;
       cursor: pointer;
       color: #ffffff;
       max-width: 617px;
       margin: 41px auto 0;
       display: block;
       transition: all 0.5s ease;
       
       &:hover {
         background-color: #000;
       }
    }

    &-tips {
      background-color: transparent;
      border: none;
      padding: 0;
      font-size: 12px;
      text-decoration: underline;
      color: #000000;
      cursor: pointer;
      font-family: inherit;
  
      @include xs {
        font-size: 14px;
     }
  
      @include md {
        font-size: 18px;
     }

      &:hover {
         text-decoration: none;
      }
   }

   &-textarea {
      position: relative;

      & textarea {
         resize: none;
         outline: none;
         line-height: 162%;
         letter-spacing: -0.02em;
      }
   }

   &-attachment {
      margin-top: 11px;
   }

   &-list {
      display: flex;
       align-items: center;
       justify-content: space-between;
       position: relative;
       z-index: 1;
      flex-wrap: wrap;
   
      @include lg {
         flex-wrap: nowrap;
      }
   
      &:before {
         content: '';
         position: absolute;
         width: 100%;
         height: 50%;
         background: url(../images/line.png) no-repeat center center;
         top: -20px;
         left: 50%;
         transform: translateX(-50%);
         z-index: -1;
      }
   
      &__item {
         width: 29%;
      }
   
      &__num {
         width: 50px;
         height: 50px;
         font-weight: 700;
         font-size: 24px;
         line-height: 50px;
         background-color: #DCC060;
         margin: 0 auto 17px;
         color: #ffffff;
         text-align: center;
         border-radius: 100px;   
      }
   
      &__title {
         font-weight: 700;
         color: #1E1B1E;
         margin-bottom: 16px;
   
         @include lg {
            font-size: 18px;
         }
      }
   
      &__text {
         font-size: 15px;
         line-height: 167%;
         color: #575757;
      }
      
      
    }
    
   
 }

 
 .words-count {
    position: absolute;
    bottom: 25px;
    right: 13px;
    font-size: 12px;
    color: #666666;

    @include md {
      bottom: 30px;
      font-size: 16px;
   }
 }
 
 
 .application-attachment__title {
    font-size: 18px;
    margin-bottom: 15px;

    @include md {
      margin-bottom: 20px;
   }
 }
 
 .custom-file-input input {
    color: transparent;
    width: 100%;
    position: absolute;
    cursor: pointer;
    height: 100%;
    top: 0;
    left: 0;
 }
 
 .custom-file-input input::-webkit-file-upload-button {
    visibility: hidden;
 }
 
 .custom-file-input {
   font-family: 'Arial';
    color: #E0C463;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 12px;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    transition: all 0.5s ease;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: underline;
    }

    @include md {
      padding: 14px;
      font-size: 17px;
   }

   &.active {
      justify-content: flex-start;
      border: 1px solid #E0C463;
   }

    & svg {
      width: 14px;
      height: 14px;
      margin-right: 6px;

      @include md {
         margin-right: 17px;
         width: 18px;
         height: 18px;
      }
    }

 }
 
 .custom-file-input:active {
    outline: 0;
 }
 
.custom-file__delete:hover svg path{
   fill:#000   
}
 
 .application-steps {
    max-width: 612px;
    margin: auto auto auto 6px;
    display: none;

    @include sm {
      margin: auto;
   }

   @include md {
      display: block;
   }
 }
 
 .application-steps__title {
    font-weight: 700;
    font-size: 24px;
    color: #1E1B1E;
    margin-bottom: 36px;
 }
 
 
 @media screen and (max-width: 768px) {
    .application-list:before {
       width: 65%;
       top: -25px;
    }
 }
 
 @media screen and (max-width: 576px) {
    .coaching-application {
       padding: 25px 0 31px;
    }
    .coachingApplication {
      padding-top: 27px;
  }
    .application-wrapper {
       padding: 16px 15px 26px;
    }

    .application-request img {
      width: 27px;
      height: 27px;
  }
 
    .application-head {
      padding: 17px 0 15px;
      margin-bottom: 26px;
    }
 
    .application-title {
       font-size: 18px;
       margin-bottom: 3px;
    }
 
    .application-request span {
       font-size: 14px;
    }
 
    .application-question {
       font-size: 16px;
       margin-bottom: 14px;

       &_w {
         max-width: 150px;
       }
    }
 
    .application-label {
       font-size: 16px;
       font-weight: 600;
    }
 
    .application-input, .application-textarea textarea {
      padding: 8px 30px 6px 15px;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 11px;
    }
 
    .radio-male label {
       font-size: 14px;
       padding: 8px 12px;
    }
 
    .application-radio-group, .application-male, .application-top {
       flex-wrap: wrap;
       gap: 15px 0;
    }
 
    .application-type .radio-box:not(:last-child) {
       margin-right: 29px;
    }
 
    .radio-box span {
       font-size: 14px;
    }
 
  
 
    .application-textarea textarea {
       min-height: 162px;
       margin-top: 5px;
       padding: 11px 32px 6px 14px;
       line-height: 21px;
    }
 
    .application-textarea textarea {
       font-size: 14px;
    }
 
    .application-attachment {
       margin-top: 5px;
    }
 
    .application-attachment__title {
       font-size: 16px;
    }
 
    .application-middle {
       margin: 0 auto -12px;
    }
 
    .application-steps__title {
       font-size: 20px;
       margin-bottom: 15px;
    }
 
    .application-list:before {
       display: none;
    }
 
    .application-list__item {
       width: 100%;
       max-width: 230px;
    }
 
    .application-list__item:not(:last-child) {
       margin-bottom: 25px;
    }
 
    .application-list__num {
       width: 33px;
       height: 33px;
       font-size: 13px;
       line-height: 34px;
       margin: 0 0 10px;
    }
 
    .application-list__title {
       font-size: 16px;
       margin-bottom: 10px;
    }
 
    .application-list__text {
       font-size: 13px;
    }
 
    .application-btn {
       padding: 15px 0;
       font-size: 16px;
       margin-top: 30px;
    }
 }