@import "components/var";

.notifications-item-checkout input[type="checkbox"]{
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    height: 24px;
    background: #E3E3E3;
    outline: none;
    border-radius: 30px;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
    transition: 0.1s;
    margin: 0;
    cursor: pointer;
  }
    
  .notifications-item-checkout input[type="checkbox"]:checked{
    background:#E0C463;
  }
    
  .notifications-item-checkout input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 6px;
    background: #fff;
    border-radius: 50%;
    top: 4px;
    transform: scale(1.1);transition: 0.5s;
  }
    
  .notifications-item-checkout input[type="checkbox"]:checked:before{
    left: 18px;
  }
  
  .notifications-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }
  
  .notifications-list:not(:last-child) {
    border-bottom: 1px solid #E1E1E1;
  }
  
  .notifications-item-checkout {
    width: 40px;
  }
  
  .notifications-card {
    padding: 24px 20px 10px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    margin-bottom: 20px;
  }
  
  .notifications-card-title, .notifications-item-name {
    display: flex;
    align-items: center;
  }
  
  .notifications-card-title {
    margin-bottom: 5px;
  }
  
  .notifications-card-title span, .notifications-item-name span {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    margin-left: 12px;
  }
  
  .notifications-item-name span {
    color: #666666;
  }
