@import "components/var";

.password-modal {
    font-family: 'Arial';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 777;
    background: gainsboro;
    padding: 0 20px;
    display: none;
}

.password-modal.active {
    display: block;
}

.password-modal-card {
    background: #fff;
    position: relative;
    max-width: 678px;
    width: 100%;
    padding: 40px 30px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);

    @include sm {
        padding: 59px;
    }
}

.password-modal-title {
    font-weight: 700;
    margin-bottom: 13px;
    font-size: 20px;
}

.password-modal-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #111111;
    margin-bottom: 26px;
}

.password-form {
    width: 100%;
}

.password-form-label {
    display: block;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 17px;
    color: #111111;
    margin-bottom: 13px;
}

.password-form-field {
    padding: 12px 14px;
    display: block;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #C7C7C7;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 17px;
    color: #111111;
}

.password-form-wrap {
    position: relative;
}

.password-form-field:focus {
    border: 1px solid #E0C363!important;
    outline: none;
}

.password-form-input:not(:last-child) {
    margin-bottom: 23px;
}

.error-message {
    display: block;
    color:red;
    margin-top: 10px;
}

.d-none {
    display: none;
}

.showPass {
    cursor: pointer;
	position: absolute;
	top: 11px;
	right: 15px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;

    &.view {
        background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
    }
}

#closeModalPassword {
    width: 20px;
    cursor: pointer;
    height: 20px;
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 40px;
}