.footer{
  padding: 30px 0 50px;
  background: #343434;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1764px;
  color: white;
  @include l{
    padding-top: 60px;
  }
  @include xxl{
    padding-top: 90px;
  }
  &-main{
    background: #000000;
    padding: 35px 0 38px;
    border-radius: 0;
    max-width: none;
    font-family: $secondFont !important;
    @include md{
      padding: 58px 0 37px;
    }
    @include xxl{
      padding-top: 58px;
    }
    h3{
      display: none;
      @include md{
        font-size: 16px !important;
        line-height: 20px !important;
        border-bottom: none !important;
        margin-bottom: 10px;
        display: block;
      }
    }
    .footer__list{
      margin: 0 auto;
      justify-content: center;
      max-width: 400px;
      @include md{
        max-width: none;
        justify-content: flex-start;
        gap: 20px;
      }
      li{
        width: auto;
        font-size: 14px;
        position: relative;
        margin-left: 10px;
        @include md{
          font-size: 13px;
          line-height: 18px;
        }
        &:last-child{
          &::after{
            content: none;
          }
        }
        &:nth-child(3){
          &::after{
            content: none;
          }
        }
        &::after{
          @include xs{
            position: absolute;
            content: "";
            background: #737373;
            width: 1px;
            height: 14px;
            top: 4px;
            right: -10px;
          }
          @include md{
            content: none;
          }
        }
      }
      a{
        color: #E9E9E9;
        @include md{
          color: #ffffff;
        }
      }
    }
    .footer__wrap{
      margin-bottom: 20px;
      gap: 10px;
      display: flex;
      flex-direction: column-reverse;
      @include md{
        margin-bottom: 0;
        flex-direction: row;
        gap: 30px;
      }
    }
    .footer__app{
      display: none;
      @include md{
        display: block;
      }
    }
    .footer__wrap-list{
      &:nth-child(2){
        display: none;
        @include md{
          display: block;
        }
      }
    }
    .footer__copyright{
      text-align: center;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      margin-top: 7px;
      @include md{
        text-align: left;
      }
    }
    .footer__bottom{
      border: none;
      padding: 0;
      justify-content: flex-end;
    }
    .footer__social{
      gap: 8px;
      min-width: 208px;
      justify-content: center;
      @include md{
        gap: 4px;
        justify-content: flex-start;
      }
      svg{
        transform: none;
      }
      a{
        width: 30px;
        height: 30px;
        background: #1D1D1D;
        border: none;
      }
    }
    .logo-footer{
      max-width: none;
      margin: 0;
      @include md{
        margin-top: 44px;
      }
      a{
        display: none;
        @include md{
          display: block;
        }
      }
      img{
        max-width: 160px;
      }
    }
    .footer__app-wrap{
      gap: 13px;
      a{
        color: #ffffff;
        display: flex;
        padding: 12px 16px;
        background: rgba(58, 58, 58, 0.5);
        border-radius: 5px;
        width: 208px;
        height: 56px;
        font-family: $secondFont;
      }
      p{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
      h4{
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        margin: 0;
      }
      svg{
        margin-right: 13px;
      }
    }
  }


  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
    margin-bottom: 44px;
    @include md{
      flex-direction: column;
      margin-bottom: 0;
    }
    li{
      width: calc(50% - 5px);
      font-weight: 400;
      font-size: 16px;
      @include md{
        width: auto;
      }
    }
    a{
      color: #ffffff;
      transition: .3s;
      &:hover{
        color: $accentColor;
      }
    }
  }
  &__wrap{
    margin-bottom: 15px;
    @include md{
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
    }
  }
  &__app-title{
    border-bottom: none !important;
    margin-bottom: 7px;
  }
  &__app-wrap{
    margin-bottom: 45px;
    display: flex;
    gap: 19px;
    @include md{
      flex-direction: column;
      gap: 23px;
      a{
        height: 55px;
      }
    }
  }
  &__bottom{
    border-top: 1px solid #FFFFFF;
    padding: 10px 20px 0;
    @include md{
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
    }
    @include l{
      max-width: 1200px;
      margin: 0 auto;
    }
    @include xxl{
      padding: 40px 0 0;
    }
  }
  &__social{
    display: flex;
    gap: 17px;
    a{
      width: 34px;
      height: 34px;
      border: 0.6px solid #ffffff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
      @include md{
        width: 46px;
        height: 46px;
      }
      svg{
        @include md{
          transform: scale(1.2);
        }
      }
      path{
        fill: white;
        transition: .3s;
      }
      &:hover{
        background-color: white;
        path{
          fill: black;
        }
      }
    }
  }
  h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    border-bottom: 1px solid #535353;
    margin: 0 0 15px;
    padding-bottom: 15px;
    @include md{
      font-size: 24px;
      border: none;
    }
  }
}
.get-started{
  background: #DCC060;
  border-radius: 15px 0 15px 15px;
  margin: 44px auto 44px;
  padding: 10px 16px 40px;
  text-align: center;
  color: white;
  max-width: 1080px;
  position: relative;
  z-index: 1;
  @include md{
    margin-bottom: 70px;
  }
  @include l{
    margin: 55px auto 100px;
  }
  &::before{
    z-index: -1;
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    width: 100%;
    height: 80%;
    background: #dcc060;
    transform: skewY(-4deg);
    border-radius: 15px 15px 0 0;
    @include md{
      transform: skewY(-2.5deg);
    }
    @include l{
      top: -32px;
    }
  }
  h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin: 0 0 15px;
    @include l{
      font-size: 40px;
      margin: 0 0 35px;
    }
    @include xxl{
      margin-top: 10px;
      font-size: 50px;
    }
  }
}
.logo-footer{
  max-width: 163px;
  margin: 0 auto 34px;
  @include md{
    max-width: 171px;
    margin: 8% 0 0;
  }
  img{
    width: 100%;
  }
}
.copyright{
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 10px;
  @include md{
    margin: 0;
    font-size: 18px;
  }
}