.nav{
  &__col{
    display: none;
    background: #F9F9F9;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
    @include l{
      margin-bottom: 0;
      padding: 0;
      width: 33%;
      background-color: #fff;
    }
    &.visible{
      display: block;
    }
    &.d-block{
      display: block !important;
    }
  }
  &__col-last{
    @include l{
      width: 33%;
    }
    .nav__col{
      margin-bottom: 35px;
      width: 100%;
      @include l{
        margin-bottom: 0;
      }
    }
  }
  &__items{
    ul{
      li:last-child{
        a{
          margin-bottom: 0;
        }
      }
    }
  }
  &__link{
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    transition: .3s;
    margin-bottom: 20px;
    line-height: 23px;
    @include l{
      color: #666666;
    }
    &:hover{
      color: $accentColor;
      text-decoration: underline;
    }
    &.show-all{
      color: black;
      font-size: 18px;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__label{
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
    @include l{
      padding-bottom: 20px;
      margin-bottom: 18px;
      border-bottom: 1px solid #cccccc;
    }
  }
  &__label-text{
    font-family: 'Arial', serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    @include l{
      margin-bottom: 0;
    }
  }
  &__label-icon{
    display: none;
    @include l{
      display: block;
      margin-right: 10px;
    }
  }
  &__wrap-banner{
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
    margin-bottom: 40px;
    width: 90%;
    @include l{
      width: 100%;
      margin-top: 80px;
      margin-bottom: 0;
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
    }
    .swiper-wrapper{
      padding-bottom: 20px;
    }
    .swiper-pagination{
      bottom: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-pagination-bullet{
      background: black;
      opacity: 1;
      width: 7px;
      height: 7px;
    }
    .swiper-pagination-bullet-active{
      background: transparent;
      border: 2px solid #e0c363;
      width: 10px;
      height: 10px;
    }
  }
  &__banner{
    display: block;
    color: #000000;
    text-decoration: none;
    h3{
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 10px;
    }
    p{
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      margin: 0;
    }
  }
  &__banner-prev{
    color: #000000;
    @include md{
      &:hover{
        text-decoration: underline;
      }
    }
    @include l{
      span{
        display: block;
      }
    }
  }
  &__wrap-img{
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    max-height: 500px;
    display: block;
    position: relative;
    @include l{
      width: 100%;
      &::after{
        transition: .4s;
        z-index: 1;
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: .85em;

        content: "View more";
        letter-spacing: -.02em;
        color: #fff;
        padding: 12px 23px;
        min-width: 80px;
        border: 1px solid #fff;
        border-radius: 100rem;
        text-align: center;
      }
      &::before{
        transition: .4s;
        z-index: 1;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(#000, .4);
        opacity: 0;
      }
    }

    &:hover{
      &::before, &::after{
        opacity: 1;
      }
      img{
        transform: scale(1.1);
      }
    }
    picture{
      overflow: hidden;
      height: 0;
      display: block;
      padding-bottom: calc(200% / 310 * 100); // calc(height% / width * 100)
    }
    img{
      border-radius: 5px;
      transition: .4s;
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }
}