.notification{
  z-index: 2;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  width: 100%;
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 10%);
  transform: translateY(4rem);

  height: 0;
  opacity: 0;
  &.open{
    overflow: hidden;
    transition: .3s;
    transform: translateY(0);
    height: calc(100vh - 50px);
    opacity: 1;
    @include sm{
      height: auto;
      max-height: calc(100vh - 150px);
    }
  }
  @include sm{
    max-width: 406px;
    right: 120px;
    left: auto;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 10px 10px;
  }
  @include l{
    right: 230px;
  }
  &__intro{
    padding: 24px 0 0;
    overflow: auto;
    height: 100%;
    max-height: calc(100vh - 50px);
    @include sm{
      padding: 24px 0;
      overflow-y: scroll;
      max-height: calc(100vh - 150px);
    }
  }
  &__item{
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #CCCCCC;
    transition: .3s;
    @include md{
      padding: 24px 16px;
    }
    &:hover{
      @include md{
        background-color: #F2F2F2;
      }
    }
    &:last-child{
      border: none;
      .notification__info-dropdown{
        &.open{
          top: 100%;
          transform: translateY(-280px);
        }
      }
    }
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
  &__settings{
    width: 20px;
    height: 20px;
    position: relative;

    @include md{
      &:hover:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        width: 33px;
        height: 33px;
        background: #e8e8e8;
        left: -7px;
        z-index: -1;
        top: -7px;
      }
    }
  }
  &__content{
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-right: 18px;
    @include sm{
      margin-right: 20px;
      max-width: 266px;
    }
    @include l{
      font-size: 16px;
      line-height: 22px;
    }
    span{
      color: black;
    }
  }
  &__wrap-img{
    margin-right: 13px;
    max-width: 38px;
    width: 100%;
  }
  &__info{
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    time{
      font-size: 14px;
      line-height: 22px;
      color: #A29F9F;
      @include sm{
        font-size: 16px;
      }
    }
    button{
      margin-bottom: 6px;
      @include sm{
        margin-bottom: 25px;
      }
    }
  }
  &__info-btn{
    height: 10px;
    position: relative;
    z-index: 0;
    @include md{
      &:hover:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: #e8e8e8;
        left: -7px;
        z-index: -1;
        top: -10px;
      }
    }
  }
  &__info-dropdown{
    color: black;
    pointer-events: none;
    position: absolute;
    right: 10px;
    z-index: 1;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0 3.53933px 15.927px rgba(0, 0, 0, 0.15);
    border-radius: 4.42416px;
    max-width: 300px;
    width: 100%;
    transform: translateY(4rem);

    height: 0;
    opacity: 0;
    @include xs{
      max-width: 315px;
      right: 16px;
    }
    @include sm{
      left: 25px;
      max-width: 356px;
    }
    &.open{
      pointer-events: all;
      transition: .3s;
      transform: translateY(0);
      height: auto;
      opacity: 1;
      .item-sett{
        display: flex;
      }
    }
    .item-sett{
      display: none;
      text-align: left;
      width: 100%;
      transition: .3s;
      padding: 12px 20px;
      margin-bottom: 0;
      background-color: #ffffff;
      &:hover{
        background-color: #F2F2F2;
      }
      &:first-child{
        padding-top: 24px;
      }
      &:last-child{
        padding-bottom: 24px;
      }
      h3{
        font-size: 15.0421px;
        line-height: 19px;
        font-weight: 700;
      }
      p{
        font-size: 13.2725px;
        line-height: 19px;
      }
      svg{
        width: 26px;
        margin-right: 12px;
        margin-top: 2px;
      }
    }
  }
  h3{
    font-weight: 400;
    font-size: 24px;
  }
  &__footer {
    @include sm {
     display: none;
    }
  }
}