@import "components/var";

.saying {
    padding-top: 60px;
    padding-bottom: 60px;

    @include md {
        padding-top: 0;
    }

    &__title {
        font-family: 'arial', sans-serif;
        margin-bottom: 27px;
        font-size: 25px;
        line-height: 1.2em;
        color: #111111;

        @include sm {
            margin-bottom: 19px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 37px;

        @include sm {
            grid-column-gap: 60px;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 50px;
        }
    }

    &-card {

        &__icon {
            background: #343434;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 23px;

            & svg {
                width: 13px;
                height: 10px;

                @include md {
                    width: 10px;
                    height: 8px;
                }
            }

            @include md {
                line-height: 15px;
                width: 18px;
                height: 18px;
            }
        }
        
        &__text {
            margin: 10px 0 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #333333;
        }

        &__wrap {
            max-width: 160px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__img {
            width: 40px;

            & img {
                width: 100%;
                border-radius: 8px;
            }
        }

        &__title {
            font-weight: 600;
            font-size: 16px;
        }

        &__span {
            font-weight: 400;
            font-size: 13px;
            color: #404040;
        }

    }
}
