@import "components/var";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@font-face {
	font-family: 'Arial', sans-serif;
	src: url(../fonts/Arialn.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Arial', sans-serif;
	src: url(../fonts/ArialTh.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Arial', sans-serif;
	src: url(../fonts/ARIBL0.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Arial', sans-serif;
	src: url(../fonts/G_ari_bd.TTF);
	font-weight: 600;
}

@font-face {
  font-family: 'Circular';
  src: url('../fonts/CircularStd-Medium.eot');
  src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CircularStd-Medium.woff2') format('woff2'),
      url('../fonts/CircularStd-Medium.woff') format('woff'),
      url('../fonts/CircularStd-Medium.ttf') format('truetype'),
      url('../fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@import "components/notifications";
@import "components/passwordForm.scss";
@import "components/coachingPage/main.scss";
@import "components/coachingPage/offer.scss";
@import "components/coachingPage/about.scss";
@import "components/coachingPage/how.scss"; 
@import "components/coachingPage/saying.scss";
@import "components/coachingPage/related.scss";
@import "components/coachingPage/reservation.scss";
@import "components/coachingPage/footer.scss";


@import "components/classicCoaching/coachingAbout.scss";
@import "components/classicCoaching/tip.scss";
@import "components/classicCoaching/info.scss";
@import "components/classicCoaching/invitation.scss";
@import "components/classicCoaching/footerCoachind.scss";


@import "components/classic_coaching.scss";


@import "components/header/menu";
@import "components/header/notification";
@import "components/header/search-history";
@import "components/header/footer";
@import "components/header/header-logo";
@import "components/header/swiper-bundle.css";



* {
  box-sizing: border-box;
}

body {
  background: #F5F5F5;
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: -0.02em;
}


.btn-save {
  background: #E0C463;
  width: 100%;
  font-size: 16px;
  padding: 15px 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: block;
  font-family: 'Arial';
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;

  @include sm {
    border-radius: 12px;
    padding: 18px 0;
    font-size: 17px;
    max-width: 220px;
  }

  &:hover {
    background: #000;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 20px;

  @include xxl {
	  padding: 0;
	}

  &.min {
    max-width: 1035px;
  }

}


ul, li {
  padding: 0;
  margin: 0;
  display: block;
}

p {
  margin: 0;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a, a:hover, a:active {
  text-decoration: none;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
  outline: none;
}

.btnClose:hover {
  background: #f0ecec;
  border-radius: 50%;
}

.btnClose {
  text-align: center;
}

img{
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.button{
	border-radius: 100px;
	background: $secondAccent;
	box-shadow: 0 12px 30px rgba(221, 193, 96, 0.12);
	color: #ffffff;
	text-align: center;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-size: 16px;
	padding: 16px 24px;
	display: inline-block;
	transition: .3s;
	@include l{
		font-size: 20px;
		padding: 26px 40px;
	}
	@include xxl{
		font-size: 22px;
		padding: 30px 75px;
	}
	&:hover{
		background: black;
	}
	&__second{
		font-size: 16px;
		border-radius: 5px;
		min-width: 185px;
		padding: 9px 35px;
		text-transform: uppercase;
		min-height: 48px;

		@include l{
			min-height: 52px;
			font-size: 18px;
			padding: 9px 35px;
		}
		@include xxl{
			font-size: 18px;
			padding: 8px 35px 7px;
		}
	}
	&_white{
		font-weight: 600;
		color: #000000;
		background: #FFFFFF;
		box-shadow: 0 15px 60px rgba(0, 0, 0, 0.25);
		line-height: 16px;
		@include l{
			padding: 19px 35px;
		}
		@include xxl{
			font-size: 24px;
			line-height: 40px;
			padding: 10px 38px;
		}
		&:hover{
			background: #cbcbcb;
		}
	}
}
.link{
	color: #E0C363;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	transition: .3s;
	&:hover{
		text-decoration: underline;
	}
}
.d-block {
	display: block !important;
}
.d-none {
	display: none !important;
}
.d-flex {
	display: flex;
}
.scroll-hide{
	overflow: hidden;
	@include sm{
		overflow: auto;
	}
}
.scroll-h{
	overflow: hidden;
	@include md{
		overflow: auto;
	}
}
.bg-light{
	background: #F5F5F5;
	min-height: 700px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
.error-message{
	color: #ea4335;
	font-weight: 400;
	font-size: 14px;
	margin-top: 5px;
    left: 0;
    position: absolute;
    bottom: -25px;
}

.btn_menu_flying {
	position: fixed;
	bottom: 30px;
    z-index: 2222;
    width: 60px;
    height: 60px;
	right: 30px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    justify-content: center;

	@include md{
		display: none;
	}

	&.active {
		display: none;
	}
}

button {
	background: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}

.mobile{
	@include sm{
		display: none;
	}
}
.tablet{
	display: none;
	@include sm{
		display: block;
	}
}