@import "components/var";

.footer-coachind {
    padding:20px 0 ;
    border-top: 1px solid #6e6e6e;

    @include md {
        padding: 27px 0 38px;
    }
}

.footer-list {
    display: flex;
    max-width: max-content;
    margin: auto;
    width: 100%;

    &__item {
        &:not(:last-child) {
            margin-right: 25px;

            @include md {
                margin-right: 50px;
            }
        }
        & a {
            font-weight: 500;
            font-size: 13px;
            color: #3E3E3E;

            @include sm {
                font-size: 15px;
            }

            @include md {
                font-size: 19px;
                display: block;
            }

            &:hover {
                font-weight: 600;
            }
        }
    }
}

.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    @include md {
        margin-top: 22px;
    }

    & span {
        font-weight: 400;
        display: block;
        margin-left: 13px;
        font-size: 10px;
        color: #3e3e3e;
        letter-spacing: 0.2px;

        @include sm {
            font-size: 19px;
        }
    }

    & svg {
        width: 71px;

        @include md {
            width: 120px;
        }
    }
}